<html>
<head>
  <title>ORCID API Client test webapp</title>
</head>
<body>
  <H1>Raw Authentication Callback</H1>
  
  <p>
    This will walk through the authorization process, using no classes from the ORCID client except for the context. Hence, "raw".
  </p>
  <p>
    Click the link, and you will be sent to the ORCID page, which will ask you to log in, and authorize the authentication.
    Then you will be sent back here, where you will see the code that was issued.
  </p>
  <p>
    A form is prepared to trade that code for an access token. You can inspect the contents of the form, or modify them,
    before sending it.
  </p>
  <p>
    Finally, if everything goes well, you will see the raw XML that contains the access token.  
  </p>
  <p> 
    This is what we will send: 
  </p>

  <p>Request URL:</p>
  <pre>{{authRequestUrl}}</pre>

  <p>
    <a href="{{authRequestUrl}}">Do raw authentication.</a>
  </p>

  <p>
    <a href=".">Main index.</a>
  </p>

</body>