{% extends "parent.twig.html" %}
{% set title = "Index" %}

{% block body %}
  <form action="request">
    <div>
      <input type="submit" name="RawAuthentication" value="Raw Authentication"><br>
      <p>Do a "raw" request for authorization, bypassing almost all of the driver classes.</p>
    </div>
	
	<div>
      <input type="submit" name="ClientAuthentication" value="Client Authentication"><br>
      <p>Get the ORCID client to request authorization, handling the 3-legged dance internally.</p>
	</div>
	
	<div>
      <input type="submit" name="CacheManagement" value="CacheManagement"><br>
      <p>Show the cache of authenticated access tokens.</p>
	</div>
  </form>
{% endblock body %}

{% block mainPageLink %}
<!-- Already at the main page -->
{% endblock mainPageLink %}
