{% extends "parent.twig.html" %}
{% set title = "Index" %}

{% block body %}
  <form action="request">
    <table>
    <tr>
      <td><input type="submit" name="RawAuthentication" value="Raw Authentication"><br></td>
      <td><p>Do a "raw" request for authorization, bypassing almost all of the driver classes.</p></td>
    </tr>
	
	<tr>
      <td><input type="submit" name="ClientAuthentication" value="Client Authentication"><br></td>
      <td><p>Get the ORCID client to request authorization, handling the 3-legged dance internally.</p></td>
    </tr>
	
	<tr>
      <td><input type="submit" name="CacheManagement" value="CacheManagement"><br></td>
      <td><p>Show the cache of authenticated access tokens.</p></td>
    </tr>
	
	<tr>
      <td><input type="submit" name="ReadRecord" value="ReadRecord"><br></td>
      <td><p>Read an ORCID record summary.</p></td>
    </tr>

	<tr>
      <td><input type="submit" name="EditExternalIds" value="EditExternalIds"><br></td>
      <td><p>Add, Update or Remove External IDs.</p></td>
    </tr>

	<tr>
      <td><input type="submit" name="ReadWorksFully" value="ReadWorksFully"><br></td>
      <td><p>Read full details of Works.</p></td>
    </tr>

	<tr>
      <td><input type="submit" name="EditWorks" value="EditWorks"><br></td>
      <td><p>Add, Update or Remove Works.</p></td>
    </tr>
    </table>
  </form>
{% endblock body %}

{% block mainPageLink %}
<!-- Already at the main page -->
{% endblock mainPageLink %}
