<html>
<head>
  <title>ORCID API Client test webapp: {{title}}</title>
  <style>
    form {
      border: thin solid gray;
      padding: 5px;
      margin: 5px;
      width: 50%;
    }
    th, td {
      padding: 5px 10px 5px 10px;
    }
    tr:nth-child(even) {
      background: #DDD;
    }
    tr:nth-child(odd) {
      background: #FFF;
    }
  </style>
</head>
<body>
  <h1>{{title}}</h1>

  {% block body %}
  <h1>SPECIFY A BODY BLOCK</h1>
  {% endblock body %}  

  {% block mainPageLink %}
  <p>
    <a href="{{mainPageUrl}}">Main index</a>
  </p>
  {% endblock mainPageLink %}

</body>
</html>
